name: Github Release Check

on:
  schedule:
    - cron: "30 23 * * *"  # UTC 时间 23:30 PM 相当于 UTC+8 的 7:30 AM
  workflow_dispatch: # 允许手动触发工作流程

jobs:
  check-releases:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10" # 指定需要的 Python 版本

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run release checker
        id: release_checker
        env:
          GITHUB_TOKEN: ${{ secrets.REPOS_TOKEN }}
          REPOS: ${{ vars.REPOS }}  # 将 REPOS 环境变量传递给 Python 脚本
          SERVER_CHAN_KEY: ${{ secrets.SERVER_CHAN_KEY }}
          SERVER_CHAN_CHANNEL: ${{secrets.SERVER_CHAN_CHANNEL}}
        run: |
          python scripts/checkReleases.py
  
      - name: Commit updated state
        if: steps.release_checker.outputs.notify != ''
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add release_state.json
          git commit -m "Update release state for [skip ci]"
          git push
